.button {
  background-color: #000000;
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.Toastify__toast--dark {
  background: #000000;
  color: var(--white);
}

.toastContainer {
  z-index: 10000;
}
