.logoutModalTitlte {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-black);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.logoutModalSubtitlte {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-black);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.logoutModalButton {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
