.ingrItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  color: var(--main-black);

  max-width: 163px;

  @media screen and (min-width: 768px) {
    gap: 14px;
    /* width: 178px; */
  }
}

.ingrImg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;
  padding: 10px;

  border-radius: 15px;
  border: 1px solid var(--border-grey-10);

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}

.ingrDescr {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: 16px 16px 16px 0;
  color: var(--text-grey);
}

/* .ingrName {
  color: var(--main-black);
} */

.btnRemove svg {
  position: absolute;
  top: 0;
  right: 0;

  fill: currentColor;
}
