.text {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}
.dark {
  color: #050505;
}

.grey {
  color: rgba(5, 5, 5, 0.4);
}

.path {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  padding-top: 62px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    padding-top: 86px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 90px;
  }
}
