.signUpTitle {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  color: var(--main-black);
}

.signUpText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--text-grey);
  text-align: center;
  margin-top: 20px;
}

.signUpLink {
  color: var(--main-black);
}
