.hero {
  padding-top: 8px;
  @media screen and (min-width: 768px) {
    padding-top: 16px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 20px;
  }
}

.heroWrapper {
  width: 100%;
  padding: 194px 16px 100px;
  background-color: var(--main-black);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 217px 0 91px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1400px;
    padding: 154px 0 82px;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.heroTitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    width: 875px;
  }
}

.heroSubtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--white-80);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 40px;
    width: 577px;
  }
}

.heroImages {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}

.heroImageLarge {
  width: 190px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.heroImageSm {
  width: 77px;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}
