.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .selectContainer {
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
  .selectBox {
    width: 345px;
  }
}

@media (min-width: 1440px) {
  .selectContainer {
    flex-direction: column;
    width: 330px;
    margin-right: 40px;
  }
  .selectBox {
    width: 330px;
  }
}
