.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  padding: 0 24px;

  /* @media screen and (min-width: 768px) {
    width: 672px;
  } */

  @media screen and (min-width: 1440px) {
    width: 1280px;
  }
}

.headerButtons {
  width: 208px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
}
