.recipeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.recipeImage {
  object-fit: cover;
  border-radius: 30px;
  width: 343px;
  height: 318px;
}
.recipeDetails {
  display: flex;
  width: 343px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
@media screen and (max-width: 374px) {
  .recipeDetails {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .recipeInfo {
    gap: 40px;
  }
  .recipeImage {
    width: 704px;
    height: 400px;
  }
  .recipeDetails {
    width: 704px;
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .recipeInfo {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
  }
  .recipeImage {
    width: 551px;
  }
  .recipeDetails {
    width: 650px;
  }
}
