.userBar {
  min-width: 122px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050505;
  border-radius: 30px;

  @media screen and (min-width: 576px) {
    min-width: 148px;
  }
}

.userBarDropdown {
  display: flex;
  align-items: center;
  padding: 16px 14px 16px 6px;
  gap: 4px;
}

.userBarAvatar {
  width: 32px;
  border-radius: 50%;

  @media screen and (min-width: 576px) {
    width: 50px;
  }
}

.userBarName {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.userBarArrow {
  transition: transform 0.3s ease;
}

.userBarArrow.open {
  transform: rotate(180deg);
}

.userBarContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 58px;
  right: 0;
  border: 1px solid #ffffff33;
  padding: 16px;
  border-radius: 15px;
  width: 122px;
  background-color: #050505;

  @media screen and (min-width: 576px) {
    min-width: 148px;
  }
}

.dropdownItem {
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.dropdownItemArrow {
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  position: relative;
}

.dropdownItemArrow::after {
  position: absolute;
  content: url(../../images/arrow-up-right.svg);
  left: 55px;
  bottom: -5px;
}
