.userBar {
  min-width: 122px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-black);
  border-radius: 30px;

  @media screen and (min-width: 576px) {
    min-width: 148px;
  }
}

.userBarDropdown {
  display: flex;
  align-items: center;
  padding: 7px 6px;
  gap: 4px;

  @media screen and (min-width: 576px) {
    padding: 16px 14px 16px 6px;
  }
}

.userBarAvatar {
  width: 32px;
  border-radius: 50%;

  @media screen and (min-width: 576px) {
    width: 50px;
  }
}

.userBarName {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
}

.userBarArrow {
  transition: transform var(--transition-func);
}

.userBarArrow.open {
  transform: rotate(180deg);
}

.userBarContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 46px;
  right: 0;
  border: 1px solid var(--white-20);
  padding: 16px;
  border-radius: 15px;
  width: 100%;
  background-color: var(--main-black);

  @media screen and (min-width: 576px) {
    top: 58px;
  }
}

.dropdownItem {
  cursor: pointer;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.dropdownItem:hover {
  color: var(--white);
}

.dropdownItemArrow {
  cursor: pointer;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  position: relative;
}

.dropdownItemArrow::after {
  position: absolute;
  content: url(../../images/arrow-up-right.svg);
  left: 55px;
  bottom: -5px;
}

.dropdownItemLogout {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
