.burgerMenu {
  position: relative;
  display: none;
}

.burgerButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -40px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #050505;
  transition: right 0.3s ease-in-out;
}

.menu a {
  padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.open {
  right: 0; /* Slide in from the right */
}

.closeButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px 20px 0 0;
}

@media (max-width: 576px) {
  .burgerMenu {
    display: block;
  }
}

.burgerMenuIcon {
  stroke: #ffffff;
  fill: #ffffff;
}

.burgerMenuNavLink {
  color: #ffffff;
}

/* .burgerMenu {
  display: flex;

  @media screen and (min-width: 576px) {
    display: none;
  }
}

.burgerMenuIcon {
  stroke: #ffffff;
  fill: #ffffff;
} */
/* .burgerMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  max-width: 300px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

@media screen and (min-width: 576px) {
  .burgerMenu {
    display: block;
  }
}

.burgerMenu.open {
  transform: translateX(0);
}

.burgerMenuIcon {
  stroke: #ffffff;
  fill: #ffffff;
  cursor: pointer;
}

.overlay {
  display: none;
}

.overlay.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */
