.recipePagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.recipePaginationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.011em;
  color: var(--main-black);

  border-radius: 50%;
  border: 1px solid var(--border-grey-10);
  background: none;
}
.recipePaginationButton:hover {
  border: 1px solid var(--main-black);
}
.recipePaginationButton.active {
  border: 1px solid var(--main-black);
}
