.recipePagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.recipePaginationButton {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: 143%;
  padding: 15px 20px;
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.1);
  background: none;
  transition: transform 0.3s ease;
}
.recipePaginationButton:hover {
  transform: scale(1.1);
  background: rgba(5, 5, 5, 0.1);
}
