.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-grey-10);
}

.footerSocialList {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footerSocialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-grey-15);
  border-radius: 100px;
  width: 36px;
  height: 36px;
}

.footerSocialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footerSocialIcon {
  display: block;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footerSocialItem {
    width: 40px;
    height: 40px;
  }
  .footer {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin-bottom: 40px;
  }
}
