.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialsSection {
  text-align: center;
  width: 343px;
  position: relative;
}

.sectionSubtitle {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--text-grey);
}

.sectionTitle {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-black);
  margin-top: 16px;
  margin-bottom: 80px;
}

.testimonialSlide {
  position: relative;
}

.testimonialText {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-black);
  margin-bottom: 80px;
}

.testimonialAuthor {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-black);
  margin-bottom: 40px;
}

.testimonialQuote {
  width: 40px;
  height: 32px;
  fill: var(--quotes);
  position: absolute;
  top: 80px;
  left: 8px;
}

.testimonialSlick li button:before {
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  .testimonialsSection {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .testimonialsSection {
    width: 704px;
  }
  .sectionSubtitle {
    font-size: 16px;
    line-height: 1.5;
  }
  .sectionTitle {
    font-size: 40px;
    line-height: 1.1;
  }
  .testimonialText {
    font-size: 24px;
    line-height: 1.5;
  }
  .testimonialAuthor {
    font-size: 20px;
    line-height: 1.2;
  }
  .testimonialQuote {
    width: 59px;
    height: 48px;
    fill: var(--quotes);
    top: 76px;
    left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonialsSection {
    width: 822px;
  }
}
