.resipeList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .resipeList {
    display: flex;
    flex-direction: row;
    gap: 40px 20px;
  }
}
