.recipeTitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}
.recipeCategory {
  border: 1px solid rgba(5, 5, 5, 0.12);
  border-radius: 20px;
  padding: 10px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 0.6);
  text-align: center;
}
.recipeTime {
  border: 1px solid rgba(5, 5, 5, 0.12);
  border-radius: 20px;
  padding: 10px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 0.6);
  text-align: center;
}
.categoryAndTime {
  display: flex;
  gap: 8px;
}
.recipeAuthor {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.recipeAuthor img {
  width: 32px;
  height: 32px;
  border-radius: 30px;
}
.recipeAuthor div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btnAuthorText {
  line-height: 1.42857;
  letter-spacing: -0.02em;
  font-size: 12px;
}
.recipeAuthorName {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 0.9);
}
.recipeTitleAndAuthor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .recipeTitle {
    font-size: 24px;
  }
  .recipeDescription {
    font-size: 16px;
  }
  .recipeAuthor {
    gap: 16px;
  }
  .recipeAuthor img {
    width: 50px;
    height: 50px;
  }
  .btnAuthorText {
    font-size: 14px;
  }
  .recipeAuthorName {
    font-size: 16px;
  }
}
