.container {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

.form {
  width: 100%;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: none;

    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    display: flex;
    gap: 80px;

    width: 1280px;
  }
}

.uploadPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 32px;

  width: 100%;
  height: 318px;

  border-radius: 30px;
  border: 1px dashed var(--border-grey-20);

  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.017em;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .uploadPhoto {
    margin-bottom: 80px;

    width: 704px;
    height: 400px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1440px) {
  .uploadPhoto {
    margin-bottom: 0;
    width: 551px;
  }
}

.svgPhoto {
  width: 50px;
  height: 50px;
  fill: var(--black-30);
}

@media screen and (min-width: 768px) {
  .svgPhoto {
    width: 64px;
    height: 64px;
  }
}

.formOptionals {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .formOptionals {
    gap: 40px;

    max-width: none;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .formOptionals {
    width: 649px;
  }
}

.recipeName {
  width: 100%;

  color: var(--main-black);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.022em;
  text-transform: uppercase;
}

.recipeName::placeholder {
  color: var(--text-grey);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.022em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .recipeName,
  .recipeName::placeholder {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
  }
}

.form label {
  color: var(--main-black);

  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .form label {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.002em;
  }
}

.inputAreaWrapper {
  display: flex;
  justify-content: space-between;
  gap: 28px;

  padding-bottom: 16px;
  width: 100%;

  border-bottom: 1px solid var(--border-grey-12);
}

.recipeDescr {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .inputAreaWrapper {
    width: 649px;
  }

  .recipeDescr {
    margin-bottom: 0;
  }
}

.inputArea {
  width: 270px;
  height: auto;

  color: inherit;
}

@media screen and (min-width: 768px) {
  .inputArea {
    width: 550px;
  }
}

.ingredientsQuantity {
  width: 100%;

  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-grey-12);
}

.inputArea::placeholder,
.ingredientsQuantity::placeholder {
  color: var(--text-grey);
}

.symbCounter {
  color: var(--text-grey);
}

@media screen and (min-width: 768px) {
  .inputArea {
    width: 550px;
  }
  .ingredientsQuantity {
    width: 314px;
  }
}

.formOptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .formOptionsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 19px;
  }
}

.addOptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .addOptionsWrapper {
    gap: 16px;
    width: 315px;
  }
}

.counter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.counterNum {
  color: var(--text-grey);
}

@media screen and (min-width: 768px) {
  .counter {
    gap: 16px;
  }
}

.recipePreparation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .recipePreparation {
    gap: 40px;
    margin-top: 40px;
  }
}

.bottomBtns {
  display: flex;
  gap: 8px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 124px;
  height: 48px;
  padding: 14px 32px;

  color: var(--white);
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.017em;
  text-transform: uppercase;

  border-radius: 30px;
  border: 1px solid var(--black-85);
  background-color: var(--black-85);

  transition: border-color var(--transition-func),
    background-color var(--transition-func);
}

.submitBtn:focus,
.submitBtn:hover {
  border-color: var(--main-black);
  background-color: var(--main-black);
}

@media screen and (min-width: 768px) {
  .submitBtn {
    width: 146px;
    height: 56px;

    padding: 16px 39px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

/* .selectInput {
  padding: 14px 34px 14px 14px;

  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.12);

  background-color: transparent;

  color: rgba(5, 5, 5, 0.6);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.017em;
} */
