.container {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form input,
.form textarea {
  border: transparent;
  outline: transparent;
}

.uploadPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 100%;
  max-width: 343px;
  height: 318px;

  border-radius: 30px;
  border: 1px dashed rgba(5, 5, 5, 0.2);

  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.017em;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .uploadPhoto {
    width: 704px;
    height: 400px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1440px) {
  .uploadPhoto {
    width: 551px;
  }
}

.svgPhoto {
  width: 50px;
  height: 50px;
  fill: rgba(5, 5, 5, 0.3);
}

@media screen and (min-width: 768px) {
  .svgPhoto {
    width: 64px;
    height: 64px;
  }
}

.recipeName {
  width: 100%;
  min-height: 24px;

  color: #050505;

  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.022em;
  text-transform: uppercase;
}

.recipeName::placeholder {
  color: rgba(5, 5, 5, 0.6);

  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.022em;
  text-transform: uppercase;
}

.form label {
  color: #050505;

  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .form label {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.002em;
  }
}

.inputCountWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 28px;

  padding-bottom: 16px;

  width: 100%;
  max-width: 343px;
}

.decorLine::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgba(5, 5, 5, 0.2);

  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .inputCountWrapper {
    max-width: 649px;
  }
}

.inputText {
  color: rgba(5, 5, 5, 0.8);

  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.017em;
}

.inputArea {
  width: 270px;
  min-height: 20px;
  max-height: 140px;
}

.recipePreparation {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.ingredientsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-bottom: 16px;
}

.addIngrBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 188px;
  height: 50px;

  padding: 14px 20px;

  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.9);
  background-color: transparent;

  outline: transparent;

  color: #050505;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.017em;
  text-transform: uppercase;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgPlusAdd {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .addIngrBtn {
    width: 231px;
    height: 58px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  .svgPlusAdd {
    width: 22px;
    height: 22px;
  }
}

.addIngrBtn:focus,
.addIngrBtn:hover {
  border-color: #050505;
  background-color: #050505;
  color: #fff;
}

.inputArea::placeholder,
.ingredientsQuantity::placeholder {
  color: rgba(5, 5, 5, 0.6);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.017em;
}

.symbCounter {
  color: rgba(5, 5, 5, 0.6);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.017em;
}

.categoryTimeWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter {
  display: flex;
  gap: 12px;

  align-items: baseline;
}

.svgTime {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.roundBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  color: #050505;

  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.12);
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.roundBtn:focus,
.roundBtn:hover {
  border-color: #050505;
  background-color: #050505;
  color: #fff;
}

.counterNum {
  color: rgba(5, 5, 5, 0.6);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.017em;
}

@media screen and (min-width: 768px) {
  .roundBtn {
    width: 56px;
    height: 56px;
  }

  .svgTime {
    width: 24px;
    height: 24px;
  }

  .counterNum {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

.svgTrash {
  fill: currentColor;
}

.bottomBtn {
  display: flex;
  gap: 8px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 124px;
  height: 48px;
  padding: 14px 32px;

  color: #fff;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.017em;
  text-transform: uppercase;

  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.85);
  background-color: rgba(5, 5, 5, 0.85);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitBtn:focus,
.submitBtn:hover {
  border-color: #050505;
  background-color: #050505;
}

@media screen and (min-width: 768px) {
  .submitBtn {
    width: 146px;
    height: 56px;

    padding: 16px 39px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

/* .selectInput {
  padding: 14px 34px 14px 14px;

  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.12);

  background-color: transparent;

  color: rgba(5, 5, 5, 0.6);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.017em;
} */
