.recipeDetailsIngredients {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.recipeTitleIngredients {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-black);
}
.recipeIngredientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  width: 100%;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .recipeTitleIngredients {
    font-size: 20px;
    line-height: 1.2;
  }
  .recipeIngredientsList {
    gap: 28px;
    max-width: none;
    width: 649px;
  }
}
